body {
  background: #0a0a0f;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #00fff2;
  text-shadow: 0 0 10px #00fff2;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

/* CELL */
.cell {
  width: 100px;
  height: 100px;
  background: #111;
  border-radius: 12px;
  cursor: pointer;

  box-shadow:
    inset 3px 3px 6px rgba(255,255,255,0.05),
    inset -4px -4px 8px rgba(0,0,0,0.8);

  transition: all 0.2s ease;
}

/* MOLE */
.mole {
  background: radial-gradient(circle, #ff4d4d, #b30000);

  box-shadow:
    0 0 10px #ff4d4d,
    0 0 20px #ff0000,
    inset 2px 2px 6px rgba(255,255,255,0.4),
    inset -3px -3px 6px rgba(0,0,0,0.6);

  transform: scale(1.1);
}

/* GAME OVER */
.game-over {
  margin-top: 20px;
}

button {
  padding: 8px 16px;
  background: #00fff2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}